html,
body {
    height: 120vh;
}

:root {
    --fundo: #EAF7FF;
    --cabecalho: #BCF7FF;
    --branco: white;
    --button-blue: #BCF7FF;
    --button-red: #FF9B9B;
    --color-price: #DCFCFE;
    --font: sans-serif
}

body {
    font-family: sans-serif;
    margin: 0px;
    background-color: var(--fundo);
}

header {
    font-size: 70%;
}


header,
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabecalho);
    margin: 0%;
}

.exit-button {
    font-weight: bold ;
    border: none;
    font-size: 12px;
    border-radius: 5px 5px 5px;
    height: 25px;
    background-color: #8FF2FF;
}

.main {
    min-height: 100%;
}

.img {
    height: 40px;
    object-fit: contain;
    margin-left: 5px;
}

.image-user {
    height: 100%;
    width: 90px;
    object-fit: contain;
    margin-right: 20px;
    margin-left: 20px;
}

.links {
    font-size: 12px;
    font-weight: bold;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span {
    margin: 0;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.fixed-text {
    margin: 0;
    padding: 8px;
    font-size: 80%;
}

.abreast {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-car,
.select-localization {
    background-color: transparent;
    border: none;
    border-radius: 0%;
    appearance: none;
    text-decoration: underline;
    height: auto;
    width: auto;
    font-size: 80%;
}


.section-washers-data {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-radius: 8px 8px 8px;
}

.list-washers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: var(--branco);
    border-radius: 8px 8px 8px;
}

.washer-data {
    font-size: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.select-choice1 {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 10px;
    align-items: flex-start;

}

.select-choice2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.price {
    font-weight: bold;
    padding: 6px;
    border-radius: 0 8px 0 0;
    margin: 0;
    background-color: var(--color-price);
}

.assessments {
    margin: 0;
    display: flex;
    align-items: center;
}

.abreast-washer-data {
    width: 50%;
    display: flex;
    font-size: 90%;
    background-color: var(--branco);
    border-radius: 8px;
}

.name {
    width: 150px;
    font-weight: bold;
    padding-top: 10px;
}


.top{
    font-weight: bold;
    padding-top: 6px;
}


.button__blue {
    font-size: 90%;
    border: none;
    border-radius: 5px 5px 5px;
    height: 25px;
    background-color: var(--button-blue);

}

main {
    height: 100%;
    background-color: var(--fundo);
    margin: 0%;
}


.links-footer, .column-left {
    font-size: 9px;
    margin: 5px;
}

.links-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.img__insta {
    width: 18px;
    margin-bottom: 5px;

}

.link-instagram {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.instagram-id{
    padding-left: 4px;
    padding-bottom: 2px;
}