html,
body {
    height: 120vh;
}

:root {
    --fundo: #EAF7FF;
    --cabecalho: #BCF7FF;
    --branco: white;
    --button-blue: #BCF7FF;
    --button-red: #FF9B9B;
    --color-price: #DCFCFE;
    --font: sans-serif
}

body {
    font-family: sans-serif;
    margin: 0px;
    background-color: var(--fundo);
}

header {
    font-size: 70%;
}


header,
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cabecalho);
    margin: 0%;
}

.img {
    height: 40px;
    object-fit: contain;
    margin-left: 5px;
    margin-bottom: 5px;
}

.links {
    font-size: 12px;
    font-weight: bold;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exit-button {
    font-weight: bold ;
    border: none;
    font-size: 12px;
    border-radius: 5px 5px 5px;
    height: 25px;
    background-color: #8FF2FF;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.section {
    padding-top: 8px;
    padding-bottom: 20px;
    background-color: var(--fundo);
}

.list-my-cars {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-radius: 8px 8px 8px;
}

.lado-a-lado {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: var(--branco);
    border-radius: 8px 8px 8px;
}

.washer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    margin-left: 10px;
}

.name {
    width: 150px;
}

.car {
    padding-left: 4vw;
}

.sobre {
    height: 60px;
    margin: 0%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    
}

span{ 
    padding-right:14px;

}

.price {
    font-weight: bold;
    padding: 6px;
    padding-right: 14px;
    border-radius: 0 8px 0 0;
    margin: 0;
    background-color: var(--color-price);
}

h2{
    font-weight: bold;
    padding-top: 5px;
}

main {
    height: 100%;
    background-color: var(--fundo);
    margin: 0%;
}

.links-footer, .column-left {
    font-size: 9px;
    margin: 5px;
}

.links-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
}

.img__insta {
    width: 18px;
    margin-bottom: 5px;

}

.link-instagram {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.instagram-id{
    padding-left: 4px;
    padding-bottom: 2px;
}